# The ipdx team is responsible for GitHub Management maintenance
* @multiformats/ipdx

# The github-mgmt stewards team is responsible for triaging/reviewing configuration change requests
# The ipdx team is added here temporarily to witness use patterns in github-mgmt
/github/multiformats.yml @multiformats/github-mgmt-stewards @multiformats/ipdx
